:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  h1 {
    text-align: center;
    font-size: 4em;
  }

  figure {
    width: 80vw;
    height: 600px;
  }
}
